@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Wikipedia Search Engine!</h1>
    <p>...powered by ElasticSearch</p>
    <p>Start typing below to find result</p>
    
    <input id="elastic-search-input" class="form-control form-control-lg" type="text" placeholder="Start search here...">
    <div id="elastic-result-list-container">
        <ul id="elastic-result-list" class="list">
            <li>
                <h3 class="title"></h3>
                <p class="content"></p>
                <p class="timestamp"></p>
            </li>
        </ul>
    </div>
</div>
