@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Home - fast search using jQuery autocomplete</p>
    <p>Advanced search - show stats, update model, change feed url</p>
    <p>Manage system - show stats, update model, change feed url</p>
    <p>Api - show api used by this app in swagger</p>
</div>
